/* single teacher  */
.teacher {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  border-radius: 8px;
  padding: 4px;
  padding-left: 15px;
  transition: 0.9s;
  cursor: pointer;
  color: grey;
}
.teacher:hover {
  transform: translatex(10px);
  box-shadow: 2.3px 3.7px 2.2px rgba(0, 0, 0, 0.016),
    5.6px 8.8px 5.3px rgba(0, 0, 0, 0.024),
    10.5px 16.5px 10px rgba(0, 0, 0, 0.029),
    18.8px 29.5px 17.9px rgba(0, 0, 0, 0.035),
    35.1px 55.1px 33.4px rgba(0, 0, 0, 0.041),
    84px 132px 80px rgba(0, 0, 0, 0.05);
}
.teacher button {
  width: 140px;
  margin-right: 20px;
  margin-bottom: 5px;
  padding: 10px;
  background: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.5s;
}
.teacher button:hover {
  color: white;
  background-color: orangered;
  border: 1px solid orangered;
  border-radius: 5px;
}
.teacher small {
  margin-top: 5px;
  font-weight: 500;
}
span {
  color: orangered;
}
